
figure span.title {
    font-size: .8em;
}

figure div.label {
    padding: .1em .3em;
    border-radius: .7em;
    white-space: nowrap;
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
}


.image-label-parent {
    position: relative;
}

.label-box {
    border: 2px solid red;
    position: absolute;
    color: red;
    font-size: small;
}