{% extends "layout.html" %}
{% block title %}Photo gallery{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <link rel="stylesheet"
        type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
{% endblock %}
{% block content %}

  <div class="container">
    {% for image in images %}
      {% set image_url = image.file | url_escape %}
      <div class="col-md-4">
        <div class="thumbnail">
          <a href=" {{url_for('send_image', filename=image_url)}}" data-toggle="lightbox" data-gallery="gallery" >
            <img src=" {{url_for('thumbnail', image_id=image.image_id)}}" title={{image.file}} class="img-fluid rounded">
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
  <script src="{{ url_for('static', filename='lightbox.js') }}"></script>
{% endblock %}